@keyframes pop {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.05;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.album {

  display: flex;
  box-sizing: border-box;
  touch-action: manipulation;
  scale: 1;

  &:not(.withHandle) {
    touch-action: manipulation;
    cursor: grab;
  }

  &.dragging:not(.dragOverlay) {
    opacity: var(--dragging-opacity, 0.5);
    // transition: opacity 200ms ease;
    z-index: 0;
  }

  &.disabled {
    color: #999;
    background-color: #f1f1f1;
    cursor: not-allowed;
  }

  &.dragOverlay {
    cursor: inherit;
    opacity: 1;
    scale: 1.05;
    // transition: scale 200ms ease;
    // animation: pop 300ms ease both;
    z-index: 1000;
    cursor: grabbing;
  }

  &:hover {
    .Remove {
      visibility: visible;
    }
  }
}
